<div class="row">
  <div class="col text-center">
    <%= link_to "Click to Create New Clock In-Out Event", new_teacher_clock_path, class: "btn btn-primary text-white" %>
  </div>
</div>
<br/>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Teacher</th>
      <th scope="col">Logged Time</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @teacher_clocks.each do |teacher_clock| %>
      <% @teacher_clock = teacher_clock %>
      <tr>
        <th scope="row"><%= @teacher_clock.teacher_name %></th>
        <td><%= @teacher_clock.teacher_logged_time.strftime('%B %e, %Y - %l:%M %p') %></td>
        <td>
          <span class="badge badge-pill <%= @teacher_clock.teacher_clocked_in ? 'badge-success' : 'badge-danger' %>">
            <%= @teacher_clock.teacher_clocked_in ? 'Clocked In' : 'Clocked Out' %>
          </span>
        </td>
        <td>
          <%= link_to "Edit", edit_teacher_clock_path(@teacher_clock), class: "btn btn-sm btn-warning" %>
          <%= link_to "Delete", teacher_clock_path(@teacher_clock), method: :delete, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>